body {
  font-family: "Fira Sans";
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
p,
dl,
dt,
dd {
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
