.introducao {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  margin: 0 auto;
  padding: 0px 40px;
  max-width: 1200px;
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  position: relative;
  margin-bottom: 30px;
}
.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  top: -20px;
  left: -40px;
  z-index: -1;
}
.introducao p {
  font-size: 1.5rem;
}

@media (max-width: 1000px) {
  .introducao {
    gap: 70px;
  }
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .introducao img {
    display: none;
  }
  .introducao h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0px;
  }
  .introducao p {
    font-size: 1rem;
  }
}
